body{

}

.top-nav{
    display: flex;
}
.media-box{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
}
.title-back{
    margin: 0px;
}

.title-back a {
    color: white !important;
    text-decoration: none;
    background-color: transparent;
    font-size: 36px;
    text-align: left;
    font-family:AlegreyaSansThin;
}

.title-back a:hover {
    color: whitesmoke !important;
    text-decoration: none;
}
.title-shop{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family:AlegreyaSansThin;
    display: block;
    font-weight: 600;
    margin: 0px;
}
.title-order a{
    color: white !important;
    text-decoration: none;
    text-align: right;
    font-size: 40px;
    font-family:AlegreyaSansThin;
    display: block;
    margin: 0px;
}
.title-order a:hover{
    text-decoration: none;
}
.card-box{
    padding:1%;
}
.card-box:hover .card{
    background: #ddd !important;
    transition: 0.4s;
}
.table{
    width: 95% !important;
    margin: auto;
}
