@font-face {
	font-family: AlegreyaSansThin;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Thin.otf");
}
@font-face {
	font-family: LemonTuesday;
	src: url("../../../../Graphics/Fonts/Lemon Tuesday.otf");
}

body{
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}
p{
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;

}
.title-box{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_bannersmall.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 5%;
	color: white;
}

.title-box:hover{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_bannersmallblurred.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 5%;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 70px;
  text-decoration: none;
  font-size: 50px;
  font-family:AlegreyaSansThin;
}

a{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}