#main-container{
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: black;
}

@font-face {
	font-family: AlegreyaSansBold;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Bold.otf");
}

@font-face {
	font-family: AlegreyaSansThin;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Thin.otf");
}

@font-face {
	font-family: Lemon;
	src: url("../../../../Graphics/Fonts/Lemon Tuesday.otf");
}

.title-box{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 10%;
	color: white;
}

.title-box:hover{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_bannerblurred.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 10%;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 48px;
  font-family:AlegreyaSansThin;
}

a{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}

.upload_form{
	color: white;
}

.musicSidebar {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
        
.musicSidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.chatSidebar {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
        
.chatSidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

h2{
	padding: 10px;
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
}

.component{
	
}

#last-songs{
	
}

.audio-player-cont{
	width: 300px;
	height: 400px;
	
	color: white;
	font-family: verdana;
	font-size: 12px;
	margin-top: 4%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}

.logo{
	float:left;
}

.player{
	
	margin: 7px;
}

.song-title{
	width: 300px;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
	width: 280px;
}

.current-time{
	float:left;
	font-size: 10px;
}

.duration{
	float:right;
	font-size: 10px;
}

.controllers{
	clear: both;
	display: table;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 90px;
	margin-left:5px;
}
/*User page style*/

#upload_form{
	margin-top:1%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 60%;
	display: inline;
}
p.add_song{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}
h1.add_song{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

label {
	margin-left: 0.5%;
	cursor: pointer;
	color:white;
	font-size: 22px;
	font-family:AlegreyaSansThin;
}

#upload_music {
	
	opacity: 0;
	position: absolute;
	z-index: -1;
}

input#submit_music[type=submit]{
	margin-left: 0%;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 22px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
input#submit_music[type=submit]:hover{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 22px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

/*User page style end*/

/*Home page style*/
#component{
	margin-top:1%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 60%;
	display: inline;
}
p.component{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

/*Home page style end*/

/*Reviews style*/
#songs{
	margin-top:2%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
	display: inline;
}

#recent{
	margin-top:5%;
	float:right;
	margin-left: auto%;
	margin-right: 5%;
	width: 40%;
	background-color:#1a1a1a;
}

h3{
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	display: inline-block;
}

h1{
	padding: 10px;
	font-size: 20px;
	font-family:Lemon;
	color:white;
	display: inline-block;
}

p{
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
	word-break:break-word;
}

p.recent{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

p.songs{
	display: inline-block;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:white;
}

p.songs:hover{
	display: inline-block;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
}


a{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}

input[type=submit]{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 23px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
input[type=submit]:hover{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 23px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

input[placeholder]{
	border: none;
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;

}

input[type=text] {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
input[type=text]:hover {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

textarea[type=text] {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
textarea[type=text]:hover {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

div.add_button input {
	position:center;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 40px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
div.add_button input:hover {
	position:center;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 40px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
/*Reviews style - end*/

/*Playlists*/

#add_playlist {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto%;
	border: 1px solid white;
	width:40%;
}

#all_songs {
	overflow-y: scroll;
	height: 200px;
	padding: 10px;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:white;
	width: 100%;
}

#all_playlists {
	margin-top:5%;
	float:right;
	margin-left: auto%;
	margin-right: 5%;
	border: 1px solid white;
	width: 40%;
}

#all_playlists_table {
	font-family:AlegreyaSansThin;
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}

#all_playlists_table td, #all_playlists_table th {
	border: 1px solid #ddd;
	padding: 8px;
}

#all_playlists_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(26, 26, 26);
	color: white;
}

#edited_playlists {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto%;
	border: 1px solid white;
	width: 40%;
}

#edited_playlists_table {
	font-family:AlegreyaSansThin;
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	color: white;
}

#edited_playlists_table td, #edited_playlists_table th {
	border: 1px solid #ddd;
	padding: 8px;
}

#edited_playlists_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(26, 26, 26);
	color: white;
}

#add_new_songs {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto%;
	border: 1px solid white;
	width:40%;
}

#add_new_songs {
	overflow-y: scroll;
	height: 200px;
	padding: 10px;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:white;
	width: 100%;
}

#playlists{
	overflow-y: scroll;
	height: 80%;
}

/*Playlists*/