#main-container{
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: black;
}

.footer {
   clear: both;
   position: relative;
   background-color:black;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align:center;
}

#footer_text a{
   font-size:20px;
   font-family: AlegreyaSansThin;
}

@font-face {
	font-family: AlegreyaSansBold;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Bold.otf");
}

@font-face {
	font-family: AlegreyaSansThin;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Thin.otf");
}

@font-face {
	font-family: Lemon;
	src: url("../../../../Graphics/Fonts/Lemon Tuesday.otf");
}

.title-box{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 10%;
	color: white;
}

.title-box:hover{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_bannerblurred.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 10%;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 48px;
  font-family:AlegreyaSansThin;
}

a{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}

.upload_form{
	color: white;
}

.musicSidebar {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
	background-image: url("../../mainWebStyle/musicsidebar.png");
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
}

.musicSidebar:hover {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
	background-image: url("");
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
}
        
.musicSidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.chatSidebar {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
}
        
.chatSidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

h2{
	padding: 10px;
	font-size: 25px;
	/*width: 90%;*/
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
}

#audio-player-cont{
	width: 300px;
	height: 400px;
	visibility: hidden;
	color: white;
	font-family: AlegreyaSansThin;
	font-size: 12px;
	margin-top: 4%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}

#musicSidebar .logo {
	float:center;
	width:300px;
	height:300px;
}

.logo #cover {
	float:center;
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 100%;
    max-height: 100%;
    height: auto;
	width: auto;
}

#edited_song .edited_song_cover {
	float:center;
	width:150px;
	height:150px;
}

.edited_song_cover #cover {
	float:center;
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 100%;
    max-height: 100%;
    height: auto;
	width: auto;
	border: 1px solid white;
}

.player{
	margin: 7px;
}

.song-title{
	width: 300px;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
	width: 280px;
}

.current-time{
	float:left;
	font-size: 10px;
}

.duration{
	float:right;
	font-size: 10px;
}

.controllers{
	clear: both;
	display: table;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 90px;
	margin-left:5px;
}
/*User page style*/

#upload_form{
	margin-top:1%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
	display: inline;
}

#all_user_songs {
	margin-top:1%;
	float:right;
	margin-left: auto;
	margin-right: 5%;
	width: 40%;
	display: inline;
}


#scroll{
	overflow-y: scroll;
	height: 400px;
}




p.add_song{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}
h1.add_song{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

label {
	margin-left: 0.5%;
	cursor: pointer;
	color:white;
	font-size: 22px;
	font-family:AlegreyaSansThin;
}

#upload_music {
	
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#upload_cover {
	
	opacity: 0;
	position: absolute;
	z-index: -1;
}

input#submit_music[type=submit]{
	margin-left: 0%;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 22px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
input#submit_music[type=submit]:hover{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 22px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

/*User page style end*/

/*Home page style*/
#component{
	margin-top:1%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 60%;
	display: inline;
}
p.component{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

#users{
	margin-top:5%;
	float:right;
	margin-left: auto;
	margin-right: 5%;
	width: 40%;
}

/*Home page style end*/




/*Reviews style*/
#songs{
	margin-top:2%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
	display: inline;
}

#recent{
	margin-top:5%;
	float:right;
	margin-left: auto;
	margin-right: 5%;
	width: 40%;
	background-color:#1a1a1a;
}

h3{
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	display: inline-block;
}

h1{
	padding: 10px;
	font-size: 20px;
	font-family:Lemon;
	color:white;
	display: inline-block;
}

p{
	font-size: 25px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
	word-break:break-word;
}

p.recent{
	font-size: 30px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}

p.songs{
	display: inline-block;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:white;
}

p.songs:hover{
	display: inline-block;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
}


a{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}

input[type=submit]{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 23px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
input[type=submit]:hover{

	border: none;
	display: inline;
	background-color: inherit;
	font-size: 23px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

input[placeholder]{
	border: none;
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;

}

input[type=text] {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
input[type=text]:hover {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

textarea[type=text] {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
textarea[type=text]:hover {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

div.add_button input {
	position:center;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 40px;
	font-family:AlegreyaSansThin;
	color:white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
div.add_button input:hover {
	position:center;
	border: none;
	display: inline;
	background-color: inherit;
	font-size: 40px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
/*Reviews style - end*/

/*Users pages style*/
#info{
	float:left;
	margin-left: 5%;
	width: 40%;
	display: inline;
}

#users_songs{
	margin-top:5%;
	float:right;
	width: 40%;
	background-color:#1a1a1a;

}
#users_content{
	align-content: left;
}

.users_content{
	align-content: left;
}
.user_name{
	position:center;
	text-align: center;

}

p.user_login{
	font-size: 50px;
	font-family:Lemon;
	color:white;
	display: inline-block;
	word-break:break-word;
}
p.user_name{
	font-size: 35px;
	color:white;
	display: inline-block;
	word-break:break-word;
}
/*Users pages - end*/

/*Playlists*/
#add_playlist {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width:40%;
	height: 400px;
}

#songs_manager {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width:40%;
	height: 400px;
}

#all_songs {
	overflow-y: scroll;
	height: 200px;
	padding: 10px;
	font-size: 20px;
	font-family:AlegreyaSansThin;
	color:white;
	width: 100%;
}

#all_playlists {
	font-family: Lemon;
	margin-top:5%;
	float:right;
	margin-left: auto;

	margin-right: 5%;
	width: 40%;
	height: 400px;
}

#songs_status {
	margin-top:5%;
	float:right;
	margin-left: auto;

	margin-right: 5%;
	width: 40%;
	height: 400px;
}

#all_playlists_table {
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}

#all_playlists_table a{
	font-size: 30px;
	font-family: AlegreyaSansThin;
}


#all_playlists_table td, #all_playlists_table th {
	/*border: 1px solid #ddd;*/
	padding: 8px;
}

#all_playlists_table th {
	font-family: AlegreyaSansThin;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(26, 26, 26);
	color: white;
}

#edited_playlist {
	font-family: Lemon;
	margin-top:5%;
	float:right;
	margin-left: auto;

	margin-right: 5%;
	width: 40%;
}

#edited_song {
	font-family: Lemon;
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width: 40%;
}

#edit_song {
	font-family: Lemon;
	margin-top:5%;
	float:right;
	margin-left: auto;

	margin-right: 5%;
	width: 40%;
}


#edited_playlists_table {
	font-family: AlegreyaSansThin;
	border-collapse: collapse;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	color: white;
}

#edited_playlists_table td, #edited_playlists_table th {
	padding: 8px;
	font-size: 25px;
}

#edited_playlists_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(26, 26, 26);
	color: white;
}

#add_new_songs {
	margin-top:5%;
	float:left;
	margin-left: 5%;
	margin-right: auto;
	width:40%;
}





/*Playlists*/

#about {
	font-family: Lemon;
	margin-top:5%;
	margin-bottom:20%;
	float:left;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

/*Playlists*/

/*user profile style - important*/
.first-column{
    width: 49%;
    display: table;
}
.second-column{
    width: 49%;
	display: table;
}
.main-box{
    display: flex;
    margin-left: 1%;
}
.user-photo{
	width: 200px;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.user-photo-style{
    padding: 0 5%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.info-text{
    margin-top: 4%;
}
.profile-text{
    font-size: 25px;
    width:100%;
    color: white;
    font-family: AlegreyaSansThin;
    text-align: center;
}
.profile-box{
	margin: auto;
	width: 60%;
	padding: 3%;
	border: 1px solid white;

}
.button-box{
    text-align: right;
	text-align: right;
}
.button-box a{
	font-family: AlegreyaSansThin;
	text-align: center;
	font-size: 20px;
}
.button-inside{
	width: 80%;
}

.edit-box form span{
	color: white;
}
input[type=password] {
	font-size: 35px;
	font-family: AlegreyaSansThin;
	border: none;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
input[type=password]:hover{
	border-bottom:1px solid #E63C49;
	transition: 0.4s;
}
.edit-box{
	font-family: AlegreyaSansThin;
	width: 90%;
	margin-right:auto;
	margin-left: auto;
	display: flex;
	padding: 2%;
}
.section-edit1{
	width: 50%;
}
.section-edit2{
	width: 50%;
}
.edit-button-submit{
	float: right;
	margin-rght: 5%;
	padding-right: 25%;
	padding-top: 2%;
}
.edit-button-submit input{
	width: 100px;

	color: white;
	font-family: AlegreyaSansThin;
	text-align: center;
}
.edit-button-submit input[type=submit]:hover {

	font-size: 23px;
	color: #E63C49;
	text-decoration: none;
	transition: 0.4s;
}
#upload_photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}
.section-edit1 label:hover{
	color: #E63C49;
	transition: 0.4s;
}
/*user profile style - important - END*/
