
@font-face {
	font-family: AlegreyaSansThin;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Thin.otf");
}

@font-face {
	font-family: AlegreyaSansBold;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Bold.otf");
}
@font-face {
	font-family: LemonTuesday;
	src: url("../../../../Graphics/Fonts/Lemon Tuesday.otf");
}

body{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_background2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}

#container {
	top:15%;
	position: absolute;
	align-items: center;
	justify-content: center;
	left:10%;
}

#user_sign_in {
	top:50%;
	position: absolute;
	align-items: center;
	justify-content: center;
	left:10%;
}

#web-title{
	margin-left:auto;
	margin-top: -2%;	
}

p{
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
}


.name-text{
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
}

a.home{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}


a.sign_in{
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	font-family:LemonTuesday;
	color:white;
}

a.sign_in:hover{
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	font-family:LemonTuesday;
	color:#E63C49;
}



