
@font-face {
	font-family: AlegreyaSansThin;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Thin.otf");
}

@font-face {
	font-family: AlegreyaSansBold;
	src: url("../../../../Graphics/Fonts/AlegreyaSansSC-Bold.otf");
}
@font-face {
	font-family: LemonTuesday;
	src: url("../../../../Graphics/Fonts/Lemon Tuesday.otf");
}

body{
	background-image: url("../../../../Graphics/Graphics_color/ARTcolony_background2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}

#container {
	top:15%;
	position: absolute;
	align-items: center;
	justify-content: center;
	left:30%;
}

#user_sign_in {
	top:85%;
	position: absolute;
	align-items: center;
	justify-content: center;
	left:30%;
}

#web-title{
	margin-left:auto;
	margin-top: -2%;	
}

label{
	font-size: 30px;
	font-family:AlegreyaSansThin;
	color:white;
}

p{
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;
	display: inline-block;
}

.error{
	font-size: 15px;
	font-family:AlegreyaSansThin;
	color:white;


}

a.home{
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family:LemonTuesday;
	color:white;
}

a.conditions{
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	font-family:AlegreyaSansBold;
	color:white;
}

a.conditions:hover{
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	font-family:AlegreyaSansBold;
	color:#E63C49;
}

a.sign_in{
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	font-family:AlegreyaSansThin;
	color:white;
}

a.sign_in:hover{
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	font-family:AlegreyaSansThin;
	color:#E63C49;
}

input[placeholder]{
	border: none;
	font-size: 35px;
	font-family:AlegreyaSansThin;
	color:white;
}

input[type=text] {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}
input[type=text]:hover {
	border: none;
	font-size:35px;
	font-family:AlegreyaSansThin;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

input[type=password] {
	font-size: 35px;
	font-family:AlegreyaSansThin;
	border: none;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid white;
}

input[type=password]:hover {
	font-size: 35px;
	font-family:AlegreyaSansThin;
	border: none;
	color:white;
	background-color: transparent;
	border-bottom: 1px solid #E63C49;
}

div.login_button input {
	background-color: transparent;
	width: 70px;
	float: right;
	height:70px;
	background-image: url("../../../../Graphics/Graphics_color/button.png");
	background-size: 100%;
	background-repeat: no-repeat;
	cursor:pointer;
    border: none;	
}
